[MESSAGES CONTROL]

good-names = x, y, z

# Warnings
# W0511 = Fixme # Will keep it and check it regularly

# Coding standard violation
# C0111 = Missing docstring # Won't happen anytime soon
# C0330 = Wrong hanging indentation before block (add 4 spaces). (There is conflict over pep8 between pylint and black)

disable=C0111, W0511, C0330

[SIMILARITIES]

ignore-imports=yes