[MESSAGES CONTROL]

good-names = x, y, z, to

# Warnings
# W0511 = Fixme # Will keep it and check it regularly

# Coding standard violation
# C0111 = Missing docstring # Won't happen anytime soon

disable=C0111, W0511