[MESSAGES CONTROL]

good-names = x, y, z

# Warnings
# W0511 = Fixme # Will keep it and check it regularly

# Coding standard violation
# C0111 = Missing docstring # Won't happen anytime soon
# C0301 = Line too long # Will be fixed when refactoring bad filenames

disable=C0111, C0301, W0511